<!-- shows just the user's tasks  -->
<% if @user %>
  <h1>Welcome, <%= @user.username if @user%>  </h1>
<br>
  <h2>Here are your tasks:</h2><br>
  <%= link_to "Give yourslf a new task!", new_user_task_path(@user) %>
  <br><br>
<% end  %>

<!-- Order tasks by due date -->
<!-- filter by project -->

<!-- turn this into a table  -->

<table style="width:100%">
  <tr>
    <th>Task</th>
    <th>Due Date </th>
    <th>Assigned To</th>
    <th>Edit/Delete</th>
    <th>Complete<th>
  </tr>

  <% @tasks.all.each do |task| %>
  <% if !task.completed %>
    <tr>
      <td><%= task.description %></td>
      <td> <%= task.due_date.strftime("%B %d, %Y") unless task.due_date.nil?  %> </td>
      <td> <%= task.user.username  %> </td>
      <td> <a class="btn btn-outline-success" href="<%= edit_task_path(task) %>">Edit </a> / <a class="btn btn-outline-success" href="/tasks/<%= task.id%>/delete">Delete </a> </td>
      <td> <a class="btn btn-outline-success" href="/tasks/<%= task.id %>/complete">Complete </a>  </td>
    </tr>
  <% end %>

  <% end  %>

</table>


<br><br>
<h2>Completed Tasks</h2>

<table style="width:100%">
  <tr>
    <th>Task</th>
    <th>Due Date </th>
    <th>Assigned To</th>
    <th>Edit/Delete</th>
    <th>Complete<th>
  </tr>

  <% @tasks.all.each do |task| %>
  <% if !task.completed %>
    <tr>
      <td><%= task.description %></td>
      <td> <%= task.due_date.strftime("%B %d, %Y") unless task.due_date.nil?  %> </td>
      <td> <%= task.user.username  %> </td>
      <td> <a class="btn btn-outline-success" href="<%= edit_task_path(task) %>">Edit </a> /  <a class="btn btn-outline-success" href="/tasks/<%= task.id%>/delete">Delete </a> </td>
      <td> Completed </td>
    </tr>
  <% end %>

  <% end  %>

</table>
