
<h1>Projects</h1>
<!-- <a href="/users/most_projects"> Click here to see who has the most projects!</a> -->

<div class="container ">
  <div class="row">


    <% @projects.all.each do |project| %>
          <div class="col-sm-4 mb-3 ">
            <div id="project-<%= project.id %>" class="col-md-12 bg-secondary pb-3 rounded">


            <button type="button" data-project-id="<%= project.id %>" class="project-more"><%= project.name %> </button>

              <div class="tasks">


              <!-- <% project.tasks.each do |task | %>


                <button type="button" class="task-more btn btn-light my-2" data-id="<%= task.id %>" name="button" data-toggle="modal" data-target=".modal" > <%= task.name %> </button>


              <% end %> -->
              </div>
              <div id="newTaskForm-<%= project.id %>" class="collapse">

              </div>

            <button type="button" class="new-task btn btn-primary" data-project-id="<%= project.id %>" data-toggle="collapse" data-target="#newTaskForm-<%= project.id %>" aria-expanded="false" aria-controls="" >Add Task</button>
            </div>
          </div>
    <% end  %>

  </div>
</div>


<!--  MODAL -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Edit Task</button>
      </div>
    </div>
  </div>
</div>
